{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}CSV Upload{% endblock %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'client.css' %}">
{% endblock %}

{% block content %}
<div class="container h-100 d-flex justify-content-center">
    <div class="jumbotron my-auto">
      <!-- <h1 class="display-3">Hello, world!</h1> -->
        <div class="card border my-5 rounded mx-5 ">
            <div class="card-header l-bg-green">
                <h1 class="card-title mx-5 mt-2">File Upload</h1>
                <p class="mx-5 mt-2">* Support .csv file *</p>
            </div>
            <div class="card-body  mx-5">
                <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="row border-top">
                    <div class="d-flex justify-content-center align-items-center mt-3">
                        <button type="submit" class="btn l-bg-green mt-1">Submit</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}